@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

button,
a {
  color: inherit;
}

select,
button,
textarea {
  font-family: inherit;
}

input,
button,
textarea {
  border: none;
}

textarea:focus {
  outline: none;
}

ul {
  list-style: none;
}

input:focus {
  outline: none;
}

input[type='submit'] {
  cursor: pointer;
}